.GenreWrap{
    /*background-image: url("https://image.tmdb.org/t/p/w500//8ChIb3WzYAcza1vrXR56v510MWk.jpg");*/
    background-color: #eeff7f;
    color: #55065e;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: space-around;
    width: calc(100%- 20px) ;
    padding: 20px;


}