.ImgPoster{
    width: 30%;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
}


.MovieById{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eeff7f;


}
.info{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eeff7f;
    font-size: 20px;
    margin: 20px;
}
.info div {
    margin: 20px;
}
.original_title{
    font-size: 40px;
}
